.products-list{
    display: flex;
    flex-wrap: wrap;
}
#btn-get{
    position: fixed;
    top: 200px;
    left: 94%;
    width: 113px;
    transform: rotate(270deg);
}
.product_item{
    position: relative;
}
.del-btn{
    background-color: red;
    border-radius: 50%;
    padding: 3px 7px 3px 7px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 270px;
}