@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header-links__list{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 20px;
}
.header-links {
  margin-bottom: 50px;
  border-bottom: 2px solid #3498db; /* Brighter border color */
}
.header-links__link {
  text-decoration: none;
  color: #3498db;
  padding: 10px 15px;
  border: 2px solid #3498db;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header-links__link:hover {
  background-color: #3498db;
  color: #fff;
}
#about.active,
#home.active,
#albums.active {
  color: #fff;
  background-color: #3498db;
  border-color: #fff;
}
