.container {
  margin-left: 50px;
  font-family: 'Arial', sans-serif;
}

.category {
  font-size: 24px;
  border-bottom: 2px solid #3498db;
  width: 170px;
  text-align: center;
  margin-bottom: 10px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-container__item {
  border: 2px solid #3498db;
  width: 250px;
  padding: 20px;
  position: relative;
  margin-top: 15px;
}

.category-container__img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.btn-category {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 170px;
  font-size: 24px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-category:hover {
  background-color: #2980b9;
}

a, p {
  color: #000;
  text-decoration: none;
}

.loader {
  position: fixed;
  left: 40%;
  top: 20%;
}

.btn-delete {
  position: absolute;
  top: -20px;
  left: 0;
  background-color: #2980b9;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-create {
  font-size: 24px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.field-create {
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  width: 270px;
  border: 2px solid #3498db;
  border-radius: 5px;
}
