body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background: #fafafa;
    margin: 0px;
    height: auto;
}

.main {
    margin-top: 50px;
    width: min(80vw, 870px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.upper-part {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foto {
    display: flex;
    flex-direction: row;
    width: 454px;
    height: 618px;
    /* padding-bottom: 5px; */
}

#foto-p {
    width: 243px;
    height: 430px;
    flex-shrink: 0;
    position: relative;
    right: 305px;
    top: 98px;
}

.login-part {
    width: 350px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin: 0 0 10px;
    background: white;
    border: 1px #dbdbdb solid;
}

.login form {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0px 40px;
}

.login input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    height: 38.67px;
    border-radius: 2px;
    border: 1px solid #dddfe2;
    padding: 5px;
    background-color: #fafafa;
    /* padding-bottom: 5px; */
    font-family: inherit;
    font-size: 12px;
    color: #1d2129;
}

.login a {
    color: #00376b;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.login a[role="button"] {
    margin: 15px 0;
    color: #385185;
    font-size: 0.9em;
}

.login a[role="button"] img {
    width: 16px;
    margin-right: 5px;
}

.login.reg{
    padding: 5px 15px;
    margin: 0%;
}

.login.reg p{
    font-size: 14px;
    margin: 20px 0;
}

.login.reg p a {
    color: #0095f7;
    font-size: 14px;
    /* font-weight: 500; */
}

.login input::placeholder {
    color: #90949c;
}

.login input[type="submit"] {
    font-size: 15px;
    color: white;
    background-color: #0095f6;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    height: 35px;
}

.login input[type="checkbox"] {
    size: 50%;
}

div.line.left{
    flex-grow: 1;
    border-bottom: 1px solid #dadde1;
    width: 100%;
    margin: 10px 15px 10px 40px;
}

div.line.right{
    flex-grow: 1;
    border-bottom: 1px solid #dadde1;
    width: 100%;
    margin: 10px 40px 10px 15px;
}

span.line {
    color: #8e8e8e;
    font-size: 1.2em;
}

.addition {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.addition p {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.9em;
}

.addition img {
    width: 130px;
    margin: 7px;
}

footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: transparent;
    margin-top: 40px;
    margin-left: -100px;
    margin-right: -100px;
    padding: 20px 0;
    width: 1100px;
    color: #737373;
    font-size: 12px;
    height: auto;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
    line-height: 2em;
}

footer ul li {
    display: inline-block;
    flex-shrink: 0;
    padding-right: 9px;
}

footer select {
    border: 0;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font: inherit;
    width: 7em;
}