main.categ-container {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* Updated font-family */
  padding: 20px; /* Added padding for better spacing */
}

.categ-container__item {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.categ-container__item:hover {
  background-color: #2980b9;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
